
 .fa{
    font-size:15px;
    
 }

 .mat-elevation-z8{
  width:1150px;
  margin:10px 0;
 }
 th,td{
   font-size: 14px;
   padding:10px;
 }
 .btn{
  color:white;
  background:#e57f84;
  padding: 15px;
 }
 .fa-pencil{
  color:green;
 }

 .delbtn
 {
  color:red;
 }
 .viewbtn{
  color:blue;
 }

 